.login-container {
    max-width: 400px;
    margin: 90px auto;
    /* margin: 0 auto; */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: black;
    color: #fff;
  }
  
  .login-container h2 {
    text-align: center;
  }
  
  .form-group {
    /* justify-content: space-between; */
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    /* flex-direction: column  ; */
    font-weight: bold;
  }
  
  .form-input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #000;
  }
  
  .login-button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #f8d90f;
    color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .error-message {
    color: red;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }

  .loading{
    text-align: center;
    color: yellowgreen;
  }